body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE, #434455);
    background: #FFF;
}

p,a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.12px;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
}

button {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* header */

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

span {
    color: var(--NAVY-BLUE, #2E2F42);
}

.naps {
    color: var(--CLOUD, #F4F4FD);
}

.ul-li-a {
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 500;
}

/* main */

.section-one {
    background: var(--NAVY-BLUE, #2E2F42);
}

.section-two {
    background: var(--CLOUD, #F4F4FD);
}

/* footer */

footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

.pfooter {
    color: var(--CLOUD, #F4F4FD);
}

